﻿<h2>Start New Ticket Event</h2>

<form action="@Url.Action("StartEvent", "Admin")" method="POST">
    <label for="secondsToStart">Enter the seconds to wait before starting:</label>
    <input type="number" name="secondsToStart" />
    <label for="secondsToStart">Enter the quantity of tickets available:</label>
    <input type="number" name="quantityAvailable" />
    <br/>
    <button type="submit">Start</button>
</form>
