﻿<h2>Event Status</h2>
<div id="registrationInformation">
    <div class="spinnerContainer">
        Please wait while we fetch the registration information for this event.
        <br />
        <img src="~/Images/ajax-loader.gif" alt="Loading" />
    </div>
    <div id="timerContainer" style="display: none;">
        Ticket registration for this event will open up in <span id="remainingSecondsSpan"></span>&nbsp;seconds.
    </div>
    <div id="reservationContainer" style="display: none;">
        <p>Registration is now open!</p>
    </div>
</div>
<div class="clear-fix"></div>
<div>
    <h3>Active Connections</h3>
    <ul id="connectionsList"></ul>
</div>
<div>
    <h3>Registration Holds</h3>
    <ul id="registrationHoldsList"></ul>
</div>
<div>
    <h3>Registration Queue</h3>
    <ul id="registrationQueueList"></ul>
</div>
<div>
    <h3>Completed Registrations</h3>
    <ul id="completedList"></ul>
</div>
