﻿@model SignalRTicketSample.Models.Ticket
<h3>Registration Id: @Model.RegistrationId</h3>
<p>
    We are currently holding tickets for you. The hold will expire in <em>45 Minutes</em>. Please ensure the information below is correct.
</p>
<h3># of Tickets: @Model.Quantity</h3>
First Name:<br/>
<input type="text"/><br/>
Last Name:<br/>
<input type="text"/><br/>
Address:<br/>
<input type="text"/><br/>
City:<br/>
<input type="text"/><br/>
State:<br/>
<input type="text"/><br/>
Zip:<br/>
<input type="text"/><br/>
<br/>
<button type="submit" id="completeRegistrationButton">Complete Registration</button>