﻿@model SignalRTicketSample.Models.TickettedEvent

<h1>@Model.Name</h1>
<img id="eventImage" src="@Url.Content(Model.ImageUrl)" alt="@Model.Name"/>
<div id="registrationInformation">
    <div class="spinnerContainer">
        Please wait while we fetch the registration information for this event.
        <br />
        <img src="~/Images/ajax-loader.gif" alt="Loading" />
    </div>
    <div id="reservationContainer" style="display: none;">
        <p>Registration is now open!</p>
        <select id="quantity">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <button id="reserveTicketBtn" type="button">Reserve Ticket</button>
    </div>
    <div id="timerContainer" style="display: none;">
        Ticket registration for this event will open up in <span id="remainingSecondsSpan"></span>&nbsp;seconds.
        <p>
            Your page will automatically refresh when registration is ready.
        </p>
    </div>
    <div id="registrationInput" style="display: none;">
    </div>
    <div id="queuedUpContainer" style="display: none;">
        <p>Your ticket request has been queued up. Please do not close this window as you will lose your place in line. 
            If a ticket becomes available, we'll put a hold on it and refresh the page automatically.</p>
    </div>
    <div id="outOfTicketsContainer" style="display: none;">
        <p>We're sorry but this event no longer has tickets available. Sad Face.</p>
    </div>
</div>
<div class="clear-fix"></div>
<ul class="tabs">
    <li>Description</li>
    <li>Speakers</li>
    <li>Dates &amp; Schedule</li>
    <li>Directions</li>
</ul>
<div class="tabContainer">
    @Model.Description
</div>
<input type="hidden" name="eventId" id="eventIdInput" value="@Model.Id"/>