﻿@model List<SignalRTicketSample.Models.TickettedEvent>
<img id="splashImg" alt="Splash Image" src="~/images/it-conferences.jpg"/>
<h2>Featured Events</h2>
<div class="featuredContainer">
    @foreach (var featuredItem in Model)
    {
        <a href="@Url.Action("EventRegistration", "Home", new {id = featuredItem.Id})">
            <div class="featuredItem">
                <h3>@featuredItem.Name</h3>
                <img src="@Url.Content(featuredItem.ImageUrl)" alt="@featuredItem.Name"/>
                @Html.ActionLink("View Event", "EventRegistration", "Home", new {id = featuredItem.Id})
            </div>
        </a>
    }
</div>